body {
  margin: 0;
  padding: 0;
  background-image: url('public/images/.jpg'); /* Sostituisci con il link corretto */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* overlay scuro trasparente */
  z-index: 0;
}

.tittle-container, .phrase-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  z-index: 1; /* sopra l’overlay */
}

.tittle-container {
  top: 20px;
}

.phrase-container {
  top: 80px;
}
